:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --primary-background-color: #2F303A;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0; 
  margin-bottom: 0; 
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.img {
    display: block;
}
.button {
cursor: pointer;
}
.body {
   font-family: var(--primary-font);
   color: var(--primary-text-color);
   font-size: 14px;
    letter-spacing: 0.03em;
   
}

.header-logo {
    font-family: var(--secondary-font);
               font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
}
.accent {
    color: var(--accent-color);
}
.menu-link {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.menu-link:hover, 
.menu-link:focus {
  color: var(--accent-color);
}
.current {
    color: var(--accent-color);
}
.contact-email-adress {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color:var(--secondary-text-color);
}
.contact-email-adress:hover,
.contact-email-adress:focus {
color: var(--accent-color);
}
.contact-phone-number {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    
        color: var(--secondary-text-color);
}
 .contact-phone-number:hover,
.contact-phone-number:focus {
color: var(--accent-color);
}

.hero {
    background-color:var(--primary-background-color);
   }
.hero-title {
                 font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
    color: var(--primary-white-color);
    }
.modal-open-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background-color: #2196F3;
   }
.modal-open-button:hover,
.modal-open-button:focus {
    background-color: #188CE8;
}
.feature-list-item {

}
.feature-list-title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}
.feature-list-article {
        line-height: 1.71;
        color: var(--secondary-text-color);
}
.title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    }
.team-member-title {
font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
           text-align: center;
  }
.team-member-job {
    font-size: 16px;
    line-height: 1.19;
        text-align: center;
     color: var(--secondary-text-color);
}
.portfolio-btn-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
        text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--primary-white-color);
    background-color: #2196F3;;
}
.portfolio-project-title {
    font-size: 18px;
    line-height: 2;
        letter-spacing: 0.06em;
    }
.portfolio-project-item {
font-size: 16px;
    line-height: 1.88;
        color: var(--secondary-text-color);
}

.footer {
   background-color: var(--primary-background-color);
}
.adress-list {
    font-style: normal;
}
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        color: var(--primary-white-color);
}
.address-location {
            font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
    color: var(--primary-white-color);
}

.footer-email-adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}
.footer-email-adress:hover,
.footer-email-adress:focus {
    color: var(--accent-color);
}
.footer-phone-number {
            font-size: 14px;
        line-height: 1.71;
         letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
.footer-phone-number:hover,
.footer-phone-number:focus {
    color: var(--accent-color);
}
.portfolio-btn.active {
 background-color: var(--accent-color);
 color: var(--primary-white-color);
}